dist
dist-*
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
*.orig
.DS_Store
.stack-work/
.vscode/
cabal.project.local
codex.tags
_Dangerfile.tmp
hscope.out
TAGS

# Tests and dev stuff
Carthage/
Cartfile
Cartfile.resolved
Romefile
engine.sh
rome-local-cache/
server-cache/
travis/
