name: Build and test
on:
  pull_request:
  workflow_dispatch:

env:
  STACK_ARGS: --resolver=lts-15.11

jobs:
  build-and-run-unit-tests:
    runs-on: macos-11
    steps:
      - uses: actions/checkout@v2
      - name: Cache stack
        id: cache-stack
        uses: actions/cache@v2
        with:
          path: ~/.stack
          key: ${{ runner.os }}-cache-stack-${{ hashFiles('stack.yaml', 'stack.yaml.lock') }}
          restore-keys: |
             ${{ runner.os }}-cache-stack
      - name: Setup
        if: steps.cache-stack.outputs.cache-hit != 'true'
        run: stack $STACK_ARGS --no-terminal setup -j 2
      - name: Dependencies
        if: steps.cache-stack.outputs.cache-hit != 'true'
        run: stack $STACK_ARGS --no-terminal build -j 2 --dependencies-only --test --no-run-tests --haddock --no-haddock-deps --fast
      - name: Build
        run: stack $STACK_ARGS --no-terminal build -j 2 --fast
      - name: Test
        run: stack $STACK_ARGS test --no-terminal --haddock --no-haddock-deps --fast
      - name: Install
        run: stack $STACK_ARGS install

